{
  "presets": [
    "es2015",
    "flow",
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "syntax-flow",
    "transform-object-rest-spread",
    "transform-flow-strip-types"
  ]
}
